header {
  margin: -10px;
  margin-bottom: 10px;
  padding: 0px;
  background-color: rgb(48, 54, 54);
  border: 1px solid rgb(32, 36, 36);
}

ol {
  align-content: center;
}

body {
  background-color: rgb(57, 65, 65);
  text-align: center;
  list-style-position: inside;
  margin-bottom: 50px;
}

#Title {
  float: center;
  text-align: center;
  font-variant: small-caps;
  font-style: oblique;
}

#MiddleContent {
  clear: none;
  margin: 0px;
}

#ImageLeftBar {
  float: left;
}

#ImageRightBar {
  float: right;
}

#Parallax {
  background-image: url("theDoctors.jpg");
  min-height: 625px;
  min-width: 1285px;
  margin: 0px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  text-align: center;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  margin: 0px auto;
}

th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

img {
  height: 150px;
  width: 150px;
  margin: 10px;
}
